@function gram-color($base, $shade: 500) {
  $color: map-get(map-get($gram-colors, $base), $shade);
  @return $color;
}

$gram-colors: (
  primary: (
    100: #ffecb3,
    200: #ffe082,
    300: #ffd54f,
    400: #ffca28,
    500: #ffc107,
    600: #ffb300,
    700: #ffa000,
    800: #ff8f00,
    900: #ff6f00,
  ),
  gray: (
    white: #ffffff,
    100: #cfd8dc,
    200: #b0bec5,
    300: #90a4ae,
    400: #78909c,
    500: #607d8b,
    600: #546e7a,
    700: #455a64,
    800: #37474f,
    900: #263238,
    black: #000000,
  )
);